@model Personaltool.ViewModels.Person.PersonDetailsViewModel

<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <i class="far fa-2x fa-user-circle mr-2"></i>
            <h4 class="flex-grow-1">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
            <div class="flex-shrink-1 btn-group">
                <button type="button" class="btn btn-sm btn-primary">
                    <i class="fas fa-lg fa-clipboard-list"></i>
                </button>
                <button type="button" class="btn btn-sm btn-primary">
                    <i class="fas fa-lg fa-edit"></i>
                </button>
                <button type="button" class="btn btn-sm btn-primary">
                    <i class="fas fa-lg fa-cog"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body overflow-auto" style="max-height: 552px">
        @{await Html.RenderPartialAsync("_DetailsPartial", Model);}
    </div>
    <div class="card-footer">
        <a class="card-link" asp-action="Edit" asp-route-id="@Model.PersonID">Edit</a>
    </div>
</div>