@model Personaltool.ViewModels.Person.PersonDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="col-md-4">
    
    @{await Html.RenderPartialAsync("_DetailsPartial", Model);}

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
