@model IEnumerable<Personaltool.Models.Person>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="d-flex">
    <div class="flex-grow-1 p-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" id="search-input" type="text" placeholder="Suchen..">
        </div>
    </div>
    <div class="p-2">
        <a asp-action="Create" class="btn btn-primary">Create new</a>
    </div>
</div>

@{await Html.RenderPartialAsync("_ListPartial", Model);}