<mat-accordion>
    <app-history-expansion
      [title]="'Mitglieds-Status'"
      [panelDescription]="'Current: ' + currentMemberState.name"
      [historyData]="memberStateHistory"
    ></app-history-expansion>
    <app-history-expansion
      [title]="'Karriere-Level'"
      [panelDescription]="'Current: ' + currentCareerLevel.name"
      [historyData]="careerLevelHistory"
    ></app-history-expansion>
    <app-history-expansion
      [title]="'Posten'"
      [panelDescription]="'Current: ' + currentPositions.name"
      [historyData]="positionsHistory"
    ></app-history-expansion>
  </mat-accordion>
