<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Kurzbezeichnung
            </th>
            <th>
                Veraltet
            </th>
            <th>
                Aktuell Besetzt
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let position of allPositions">
            <td>
                {{position.name}}
            </td>
            <td>
                {{position.shortName}}
            </td>
            <td>
                {{position.isActive?"Aktiv":"Veraltet"}}
            </td>
            <td>
                <div *ngFor="let persPos of position.currentHolders">
                    <a title="Besetzt seit {{persPos.begin | date: 'dd.MM.yyyy'}}" routerLink="/Person/{{persPos.personID}}">{{persPos.firstName}} {{persPos.lastName}}</a>
                </div>
            </td>
            <td>
                <a (click)="loadDetails(position.positionID)">Historie</a>
                <a (click)="edit(position)">Edit</a>
            </td>
        </tr>
    </tbody>
</table>

