@{
    ViewData["Title"] = "Impressum";
}
<h1>@ViewData["Title"]</h1>
<br>
<p>Angaben gemäß § 5 TMG</p>
<p><strong>Verantwortungsbereich:</strong><br /> Das Impressum gilt nur für die Internetpräsenz unter der Adresse: <a href="https://personaltool.campus-consult.org">personaltool.campus-consult.org</a></p>

<p><strong>Diensteanbieter:</strong><br /> Campus Consult e. V.</p>

<p><strong>Vertretungsberechtigtervorstand:</strong><br /> Anton Exler, Franziska Waldmann, Leonie Naber, Erik Crisan</p>

<p><strong>Anschrift:</strong><br /> Technologiepark 13, 33100 Paderborn</p>

<p><strong>elektronische Postadresse:</strong><br /> <a title="Kontakt" href="mailto:kontakt@campus-consult.org" class="mail-link"> kontakt@campus-consult.org</a></p>

<p><strong>Schnelle elektronische und unmittelbare Kommunikation:</strong><br /> Tel.: +49 (0) 52 51 /14 80 780</p>

<p><strong>Journalistisch-redaktionelle Verantwortung:</strong><br /> Campus Consult e. V., Technologiepark 13, 33100 Paderborn </p>

<p>Eingetragen im Vereinsregister<br />Registergericht: Amstsgericht Paderborn<br />Reisternummer: VR 1615<p>
            
</p>Steuernummer: 339/5778/1742</p>
