/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #000000;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #228b22;
    border-color: #228b22;
}


/* Provide sufficient contrast against white background */

a {
    /* Links werden in CC grün hervorgehoben */
    color: #85b0df;
    font-family: "Franklin Gothic";
    
}


/* Button Styles
-------------------------------- */
.btn-link {
    color: #85b0df;
}

.btn-primary {
    color: #fff;
    background-color: #183e74;
    border-color: #183e74;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



/* ============== TextFont Frankling Gothic  From (CSS FONT Generator) https://www.cssfontstack.com/franklin-gothic-medium */

body {
    /* Schriftart Franklin Gothik Book */
    font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
    
}

* {
    font-family: "Franklin Gothic";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Franklin Gothic Medium";
    color: #183e74
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}