/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #000000;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #183e74;
    border-color: #183e74;
}


/* Provide sufficient contrast against white background */

a {
    /* Links werden in CC grün hervorgehoben */
    color: #183e74;
    font-family: "Franklin Gothic";
    
}


/* Button Styles
-------------------------------- */
.btn-link {
    color: #183e74;
}

.btn-primary {
    color: #fff;
    background-color: #183e74;
    border-color: #183e74;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



/* ============== TextFont Titillium Web ============== */

/* latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(/fonts/Titillium-web-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(/fonts/Titillium-web-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  

body {
    /* Schriftart Franklin Gothik Book */
    font-family: "Titillium Web";
    
}

* {
    font-family: "Titillium Web";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Franklin Gothic Medium"; */
    color: #000000
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

/* Fix table bug: table larger than container */
td {
    word-wrap: break-word;
    word-break: break-word;
}

/* Selectable table rows styles
-------------------------------------------------- */
table.table-selectable tbody tr.selectedRow {
    background-color: rgb(24,62,116);
    color: white;
}
table.table-selectable tbody tr.selectedRow a {
    color: rgb(173,212,242);
}